
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
	<article>I am {{ age }} years old</article>
    <article>NPM 			: {{ npm }}</article>
	<article>Tempat Kuliah  : {{ univ }}</article>
	<article>Description 	: Saya adalah mahasiswa Fasilkom UI angkatan 2018<br> Semester ini saya mengambil mata kuliah PPW <br>Saya aktif di Unit Kegiatan Mahasiswa OSUI Mahawaditra<br></article>
	<article>hobi 			: {{ hobi }}</a></article>
	<article>foto saya 		:</article>	
	<article><img src ="https://i.imgur.com/pZZdrNT.jpg"></article>
</body>
</html>
